anglais/

ignore/

meca_analytique/Poly_Mecanique_Analytique_2026.pdf

theorie_groupes/polycopiés
theorie_groupes/TD
theorie_groupes/books

electromagnetism/books
electromagnetism/*/lecture_slides.pdf
electromagnetism/*/lecture_notes.pdf
